<div id="<%= dom_id medicine_list %>">
  <p>
    <strong>Medicinename:</strong>
    <%= medicine_list.medicineName %>
  </p>

  <p>
    <strong>Interval:</strong>
    <%= medicine_list.interval %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= medicine_list.memo %>
  </p>

</div>
