<p style="color: green"><%= notice %></p>

<%= render @medicine_list %>

<div>
  <%= link_to "Edit this medicine list", edit_medicine_list_path(@medicine_list) %> |
  <%= link_to "Back to medicine lists", medicine_lists_path %>
</div>
